In [12]:
import pandas as pd
import numpy as np

In [3]:
data = {"Student ID":[416,375,400,211,312],
"Communication":[7,6,5,8,9],
"Placed":["Yes","No","No","Yes","Yes"]}

placement_data  =  pd.DataFrame(data)
placement_data

   Student ID  Communication Placed
0         416              7    Yes
1         375              6     No
2         400              5     No
3         211              8    Yes
4         312              9    Yes

In [5]:
placement_data['Communication']>6

0     True
1    False
2    False
3     True
4     True
Name: Communication, dtype: bool

In [6]:
st=[311,6]
def placement_prediction(st):
    if st[1]>6:
        return "Yes"
    else:
        return "No"

In [10]:
placement_prediction([45,3.4])

'No'

## Decision tree classifier 
- fit(features,target)/fit(input,outputs)
    - Communication
    - placed
    feature -2d array
    placed -1d array
- predict

## Get the communication column as 2d array

In [20]:
placement_data[['Communication']]

   Communication
0              7
1              6
2              5
3              8
4              9

In [15]:
import sklearn
from sklearn.tree import DecisionTreeClassifier

In [22]:
dtc=DecisionTreeClassifier()
# Training the model
dtc.fit(placement_data[['Communication']],placement_data['Placed'])
# After you run above line you will get trained model in dtc

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [23]:
dtc.predict(placement_data[['Communication']])

array(['Yes', 'No', 'No', 'Yes', 'Yes'], dtype=object)

In [24]:
placement_data['Placed']

0    Yes
1     No
2     No
3    Yes
4    Yes
Name: Placed, dtype: object

In [26]:
dtc.predict([[8]])

array(['Yes'], dtype=object)

In [27]:
dtc.predict([[8],[7.5],[5]])

array(['Yes', 'Yes', 'No'], dtype=object)

In [28]:
data1 = {"Student ID":[416,375,400,211,312,523],
        "Taken Internship":['Yes','No','Yes','No','Yes','Yes'],
         "Percentage":[80,55,65,70,60,75],
        "Communication":[7,6,5,8,9,5],
        "Placed":["Yes","No","No","Yes","Yes","Yes"]}
placement_data1  =  pd.DataFrame(data1)

In [30]:
placement_data1

   Student ID Taken Internship  Percentage  Communication Placed
0         416              Yes          80              7    Yes
1         375               No          55              6     No
2         400              Yes          65              5     No
3         211               No          70              8    Yes
4         312              Yes          60              9    Yes
5         523              Yes          75              5    Yes

In [33]:
data3 = {"Student ID":[416,375,400,211],
         "Internal Marks":[25,30,18,15],
         "No of Hours Study":[2,1,2,3],
         "Marks":[76.5,87,59,53.5]}
marks_data2 = pd.DataFrame(data3)
marks_data2

   Student ID  Internal Marks  No of Hours Study  Marks
0         416              25                  2   76.5
1         375              30                  1   87.0
2         400              18                  2   59.0
3         211              15                  3   53.5

In [35]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
# training the model with 2 features.
lr.fit(marks_data2.iloc[:,1:3],marks_data2['Marks'])
# after the cell in var le you have trained model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

### y=m1*x1+m2*x2+c
predict m1,m2,c

In [36]:
lr.coef_ ## m1 and m2

array([2.5, 2. ])

In [38]:
lr.intercept_  # c(intercept)

10.000000000000007

In [40]:
lr.predict(marks_data2.iloc[:,1:3])

array([76.5, 87. , 59. , 53.5])

In [43]:
marks_data2['Marks']

0    76.5
1    87.0
2    59.0
3    53.5
Name: Marks, dtype: float64

In [59]:
def l(s):
    return s[1:]+s[0]

In [54]:
def r(x):
    return x[-1]+x[0:len(x)-1]

In [60]:
n=int(input())
list1=[input() for i in range(n)]
for i in list1:
        print("YES") if l(i)==r(i) else print("NO")

4
a
aa
abcd
aaaaa
YES
YES
NO
YES